<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <!-- <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li> -->

        {% assign sorted_tags = site.tags | sort_tags | blacklist_tags %}
        {% for tag in sorted_tags %}
            {% assign curr_tag = page.url | get_tag %}
            {% assign tag_name = tag[0] | downcase %}
            <li class="nav-about {% if curr_tag == tag_name %} nav-current{% endif %}" role="presentation">
                <a href="{{ site.baseurl }}tag/{{tag[0]}}">
                    {{ tag_name }} ({{ tag[1].size }})
                    <!-- {{ curr_tag }} name: {{ tag_name }} -->
                </a>
            </li>
        {% endfor %}

   </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
